body{
    font-family: sans-serif;
    margin: 0;
}

/* 右上プロファイルのやつ----------------------------------------------- */

#profile {
    display: flex;            
    align-items: center; 
    position: absolute;
    right: 0;
    margin-right: 1vw;
    margin-top: .5vw;
}

#profile ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
}

#profile ul li {
    padding: 0 10px; 
}

#profile ul li:not(:last-child) {
    border-right: 2px solid black; 
}

#profile ul {
    display: flex;            
    list-style: none;         
    margin: 0;
    padding: 0;
}

#profile li a {
    text-decoration: none;
    color: #333;
}

#profile img {
    width: 25px;   
}

/* ------------------------------------------------------------------ */

/* ヘッダ------------------------------------------------------------ */

#header_cap{
    padding-top: 35px;
}

#header {
    display: flex;
    align-items: center;   
    justify-content: center;
    position: sticky;
    top: 5px;
    z-index: 100;
}

#header img {
    width: 7vw;
    max-width: 115px;
}

#header .container {
    display: flex;
    align-items: center;
    margin-left: 2vw;   
    gap: 2vw;  
    background-color: #226CFF;
    height: 4vw;
    width: 75vw;
    border-radius: 50px;
    justify-content: center;
    overflow: hidden;
    max-height: 70px;
}

#header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-weight: bolder;
    height: 100%;
}

#header ul li {
    /* margin-right: 2.5vw; */
    height: 100%;
}

#header ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0 1.7vw;
    white-space: nowrap;
}

/* #header ul li:first-child a {
    position: relative;
    z-index: 0;
  }

  #header ul li:first-child a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    background: #4e89ff;
    z-index: -1;
    pointer-events: none;
  } */

#header ul li a:hover{
    background-color: #4e89ff;
}

#header ul li a.is-active {
    background-color: #4e89ff;
  }

/* Search form */
#header .search {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#header .search input {
    padding: 5px 10px;
    font-size: 1vw;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* margin-left: 50px; */

}

#header .search button {
    padding: 5px 12px;
    font-size: 1vw;
    font-weight: bold;
    /* font-size: clamp(10px, 1vw, 100px); */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid #ffffff;
    color: white;
    border-radius: 5px;
}

#header .search button:hover {
    background: white;  
    color: #5d5d5d;        
}

/* ------------------------------------------------------------------ */

/* スライドショー--------------------------------------------------------- */

.slide h2 {
    position: absolute;
    margin: 0;
    font-size: 4vw;
    padding: 0px 20px 100px 20px ;
    border-top-left-radius: 8px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0, 0, 0, 0) 70%);
  }

.slideshow-container {
    position: relative;
    width: 95%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 1.5vw auto 0; 
  }
  
  .slide {
    position: absolute;
    inset: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .slide.active {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 2s ease-in-out, visibility 0s linear 0s;
  }
  
  .slide.active h2 {
    opacity: 1;
  }
  
  .dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    visibility: visible;
    z-index: 2;
    
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #a7a7a7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #eeeeee;
  }

/* ------------------------------------------------------------------ */

/*動画 ------------------------------------------------------------ */

#videos{
  margin: 1vw 0 0 5vw ;
}

#videos h1{
  margin: 0;
  font-size: 4vw;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: .4vw;
  border-image: linear-gradient(
    to right,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0) 100%  
  ) 1;
  width: 40%;
  min-width: 200px;
}

.video_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; 
  margin: 5vw 5vw auto auto; 
  width: 95%;
}

.video_grid img {
  width: 100%;
  /* object-fit: cover; */
}

.video_grid a{
  text-decoration: none;
  color: rgb(87, 87, 87);
  transition: transform 0.3s ease;
}

.video_grid a:hover{
  transform: scale(1.03);
}

#videos h2{
  text-align: center;
  padding-top: 2vw;
}

#videos h2 a{
  text-decoration: none;
  color: black;
  font-size: 2vw;
  margin-right: 5vw;
}

/* ------------------------------------------------------------------ */

/*フッター ------------------------------------------------------------ */

footer{
  background-color: #226CFF;
  color: white;
  text-align: center;
  margin-top: 5vw;
}

/* ------------------------------------------------------------------ */